button
	display 			flex
	flex-direction		row
	justify-content 	center
	align-items 		center
	background-color 	#fff
	padding				1em
	margin				1em auto
	box-shadow			0 0.1em 0.1em #888 , inset 0 0 0.2em #888
	outline				0
	border 				0
	border-radius		0.5em
	transition			all 0.3s
	
	&:hover
		box-shadow			0 0.2em 0.5em #777 , inset 0 0 0.2em #999
		
	&:focus
		outline				0
		border 				0