@import 'nib'

.horizontal
	flex-direction		row	!important
		
#selectedCountries
	justify-content 	center !important

#countryList
	align-items 		flex-start !important
	
#loading
	min-height			2em !important
	
	