@import 'nib'
input
   text-align        center
   padding           0.2em
   margin            1em
   border-radius     0.5em
   border-style      none
   transition        all 0.3s cubic-bezier(.25,.8,.25,1)
   &:hover
      border-style      none
      box-shadow        0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
   &:focus
      outline           0
      border-style      none
      box-shadow        0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
   &.fav
      width             2em
      height            2em
      background-color  green
      border-radius     50%
      margin-left       auto
      transition        0.5s
      cursor            pointer
      &:hover
         box-shadow        0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
      &::-webkit-input-placeholder
         color             #fff
      &::-moz-input-placeholder
         color             #fff
      &:-ms-input-placeholder
         color             #fff
