tbody
	& tr
		transition			all 0.3s
		&:nth-child(even)
			background-color	#ccc
		&:hover
			background-color	#777
			color				#fff
td
	padding				0.3em
	margin				0.5em
	border-radius		0.5em
	text-align			center